
.mainFxmlClass {
    -fx-background-color: rgba(0, 0, 0, 0);
}

#labelTitle {
    -fx-font-size: 24px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#labelVersion {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#labelType {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#labelRelease {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#textAbout {
    -fx-background-color: rgba(220, 220, 220, 0.6);
    -fx-font-size: 14px;
    //-fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}
#textAbout .content {
    -fx-background-color: rgba(220, 220, 220, 0.6);
}
#textAbout .scroll-pane {
    -fx-background-color: transparent;
}

#textAbout .scroll-pane .viewport{
    -fx-background-color: transparent;
}


#textAbout .scroll-pane .content{
    -fx-background-color: transparent;
}

#textAbout:focused {
    -fx-focus-color: rgba(100,100,100,1);
    -fx-faint-focus-color: rgba(100,100,100,0.2);
}


#buttonClose {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#buttonClose:focused {
    -fx-focus-color: rgba(100,100,100,1);
    -fx-faint-focus-color: rgba(100,100,100,0.2);
}

#paneBotton {
    -fx-background-color: rgba(220, 220, 220, 0.9);
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: rgba(100, 100, 100, 1);
    -fx-border-width: 1;
    -fx-border-radius: 10 10 10 10;
}

#paneAbout {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    -fx-background-radius: 10 10 10 10;
    -fx-border-color: rgba(100, 100, 100, 1);
    -fx-border-width: 1;
    -fx-border-radius: 10 10 10 10;
}

