
.mainFxmlClass {
    -fx-background-color: rgba(0, 0, 0, 0);
}

#tabPaneClient > .tab-header-area > .headers-region > .tab {
    -fx-background-color: rgba(230, 230, 230, 1);
    -fx-background-radius: 10 10 0 0;
    -fx-margin: 100;
}

#tabPaneClient:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-radius: 10 10 0 0;
    -fx-focus-color: rgba(100,100,100,1);
    -fx-faint-focus-color: rgba(100,100,100,0.2);
}

#tabPaneClient > .tab-content-area {
    -fx-background-color: rgba(220, 220, 220, 0.9);
    -fx-background-radius: 10 10 0 0;
    -fx-border-color: rgba(100, 100, 100, 1);
    -fx-border-width: 1;
    -fx-border-radius: 10 10 0 0;
}

#paneBotton {
    -fx-background-color: rgba(220, 220, 220, 0.9);
    -fx-background-radius: 0 0 10 10;
    -fx-border-color: rgba(100, 100, 100, 1);
    -fx-border-width: 1;
    -fx-border-radius: 0 0 10 10;
}

#treeViewClients {
    -fx-background-color: transparent;
    -fx-border-color: rgba(100, 100, 100, 1);
}

#treeViewClients .tree-cell {
    -fx-background-color: rgba(250, 250, 250, 0.9);
}

#treeViewClients .tree-cell:focused {
    -fx-background-color: rgba(100, 100, 100, 0.9);
}