/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    -fx-background-color: rgba(200, 200, 200, 0.9);
    -fx-background-radius: 10;
}

#windowTitle {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#menuBar {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
}

#panelClient {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-text-fill: #333333;
    -fx-font-family: "Courier New", Courier, monospace;
    -fx-effect: dropshadow( gaussian , rgba(255,255,255,0.5) , 0,0,0,1 );
    
}
#panelClient.headers-region {
    -fx-effect: null;
    
}
